body {
  background-color: rgb(241, 217, 0);
}

h1 {
  text-align: center;
  text-shadow: 5cqmax;
  font-family: cursive;
}

ul {
  display: flex;
  width: 300px; 
  flex-wrap: wrap;
  margin: 30px auto;
  border: 5px solid black;
  background: rgb(255, 0, 0);
  padding: 0;
}


li {
  list-style: none;
  width: 90px;
  height: 90px;
  border: 5px solid black;
  background: rgb(174, 0, 255);
  cursor: crosshair;
}

li:hover {
  background: rgb(0, 132, 255);
}



.x:hover,
.o:hover {
  background: white;
}

.x:after,
.o:after {
  display: block;
  width: 100%;
  font-size: 60px;
  line-height: 80px;
}

.x:after {
  content: "x";
}

.o:after {
  content: "o";
}

.game-over li {
  color: red;
  cursor: default;
  background: white;
}

.winner-x .x,
.winner-o .o {
  background: green;
  color: white;
}

figcaption {
  font-size: 30px;
}